@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


body{
    margin: 0px 0px;
}

header{
    background-color: black;
    text-align: center;
    height: 170px;
    
}

header > h1{
    color: white;
    margin: 0px;
    font-family: 'Passion One', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    
    
}

p#topo{
    margin-top: 0px;
    color: white;
    font-weight: lighter;
    margin: auto;
}

p{
    width: 200px;
    max-height: 350px;
    word-wrap: break-word;
    line-height: 1.5em;
}

main > div{
    height: 400px;
    width: 100vw;
    padding-left: 10px;
    box-shadow: black 1px 1px 5px;
}

main > section{
    height: 400px;
    width: 100vw;
}

main{
    width: 100vw;
    margin: 0px;
    font-family: 'Sriracha', sans-serif; 
    font-size: 18px;
   
} 

section.imagem-1{
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;

}



section.imagem-2{
    width: 100%;
    background: black url(imagens/background002.jpg) center center no-repeat fixed;    
    background-size: cover;
}

.fundos{
    padding: 5px 0px 5px 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
}